body {
  background-color: rgb(255, 202, 123);
}
.color-nav {
  background-color: rgb(255, 164, 79);
}

.container {
  background-color: rgb(255, 218, 162);
  color: white;
  margin-top: 100px;
  padding: 0 20px;
  width: 100%;
  height: 100%;
}

.welcome-text {
  font-size: 4rem;
}

.error-message {
  color: red;
}

.col-4 {
  margin: 10px 50px;
}

.btn img {
  border-radius: 50%;
}

.container > .tweet-card {
  margin-top: 20px !important;
}

.card-row img {
  border-radius: 50% !important;
}

.twitter-logo {
  width: 180px;
  height: 180px;
  opacity: 0.8;
}

.describe {
  color: black;
  opacity: 0.8;
}

.control-form {
  width: 90%;
}

.real-name {
  color: black;
}

.user-handle {
  color: grey;
}

.tweet-date {
  color: grey;
  position: absolute;
  top: 32px;
  left: 78px;
}

.tweet-row {
  height: 100% !important;
}

.tweet-col {
  background-color: white !important;
}

.tweet-col.col img {
  border-radius: 50% !important;
}

.tweet-text {
  color: black;
  margin-left: 65px;
  text-align: left;
  padding-right: 80px;
  padding-bottom: 60px !important;
}

.retweet-image {
  position: absolute;
  left: 80px;
  bottom: 8px;
  padding: 0px 20px !important;
}

.like-image {
  margin: 15px 0px 0px 0px;
  left: 220px;
  position: absolute;
  bottom: 5px;
}

.retweet-num {
  margin-bottom: 0;
  position: absolute;
  left: 130px;
  bottom: 8px;
  color: black;
}

.like-num {
  margin-bottom: 0;
  left: 248px;
  bottom: 8px;
  position: absolute;
  color: black;
}

.favorite-name {
  color: black;
}

.btn-warning {
  background: rgb(255, 218, 149) !important;
  width: 175px;
  height: 75px;
  margin: 5px;
}

.button-two {
  background-color: white;
  width: 250px;
  height: 75px;
  margin: 25px;
}

.button-three {
  background-color: white;
  width: 250px;
  height: 75px;
  margin: 25px;
}

.button-four {
  background-color: white;
  width: 250px;
  height: 75px;
  margin: 25px;
}

.button-five {
  background-color: white;
  width: 250px;
  height: 75px;
  margin: 25px;
}

div.col-4-4.col {
  width: 300px !important;
}

.favorite-name-random {
  color: black;
}

.real-random-one {
  position: absolute !important;
  left: 20px;
}

.user-name-random {
  position: absolute;
  left: 124px;
  top: 47px;
  margin: 0 auto !important;
  color: grey;
}

.choose-text {
  color: black;
}

.column-four.col {
  width: 290px !important;
}

.btn.handle-button,
.btn.topic-button {
  color: white !important;
}

@media (min-width: 776px) {
  .handle-button.btn.btn-primary {
    margin-right: 75px !important;
  }
  .btn.eckhart-random {
    margin: 5px 30px 5px 30px !important;
    width: 200px;
    height: 115px;
  }

  .btn.questlove-random {
    margin: 5px 30px 5px 30px;
    width: 200px;
    height: 115px;
  }

  .btn.yuval-random {
    margin: 5px 30px 5px 30px;
    width: 200px;
    height: 115px;
  }
  .btn.stevie-random {
    margin: 5px 30px 5px 30px;
    width: 200px;
    height: 115px;
  }
  .btn.bob-random {
    margin: 5px 30px 5px 30px;
    width: 200px;
    height: 115px;
  }
}

@media screen and (max-width: 995px) {
  .card-row {
    display: block !important;
  }
  .col-4 {
    margin: 10px 10px !important;
  }

  .btn.eckhart-random {
    margin: 5px 30px 5px 30px !important;
    width: 125px;
    height: 100px;
  }

  .btn.questlove-random {
    margin: 5px 30px 5px 30px;
    width: 125px;
    height: 100px;
  }

  .btn.yuval-random {
    margin: 5px 30px 5px 30px;
    width: 125px;
    height: 100px;
  }
  .btn.stevie-random {
    margin: 5px 30px 5px 30px;
    width: 125px;
    height: 100px;
  }
  .btn.bob-random {
    margin: 5px 30px 5px 30px;
    width: 125px;
    height: 100px;
  }
}

@media screen and (max-width: 775px) {
  .col-4 {
    margin: 10px 10px !important;
  }

  .topic-button {
    display: block;
  }

  .btn.handle-button {
    margin: 0px 5px 10px 50px;
  }
}

.btn.topic-button {
  margin: 0px 5px 0px 50px;
}

@media screen and (max-width: 500px) {

  .row {
    margin: 0;
  }
  .welcome-text {
    padding: 0px 40px;
    line-height: 1;
    font-size: 3rem;
  }

  h6.d-block.describe {
    padding: 0px 40px;
  }
  .form-group {
    margin: 20px 20px 20px 40px !important;
  }
  .tweet-row {
    height: 350px;
    width: 350px;
    margin: 10px;
  }
  .tweet-text {
    margin-left: 59px;
  }
  .tweet-col.col {
    padding: 0px 0px 0px 0px !important;
    margin-right: 20px !important;
  }

  .choose-text {
    font-size: 1.3rem;
    padding: 0 50px;
  }

  .btn.handle-button {
    margin: 0px 5px 10px 50px;
  }

  .btn.topic-button {
    margin: 0px 5px 10px 50px;
  }

  .col {
    padding: 0px 0px;
  }

  .d-inline.real-name.ml-1.mt-1 {
    font-size: 0.9rem !important;
  }

  .d-inline.ml-2.user-handle {
    font-size: 0.9rem !important;
  }

  .welcome-splash {
    font-size: 2.4rem;
    padding: 0px 30px;
  }
  .d-block.describe {
    padding: 0px 20px;
  }

  .text-left {
    font-size: 0.8rem !important;
  }

  .btn.eckhart-random {
    margin: 5px 30px 5px 30px !important;
    width: 100px;
    height: 95px;
  }

  .btn.questlove-random {
    margin: 5px 30px 5px 30px;
    width: 100px;
    height: 95px;
  }

  .btn.yuval-random {
    margin: 5px 30px 5px 30px;
    width: 100px;
    height: 95px;
  }
  .btn.stevie-random {
    margin: 5px 30px 5px 30px;
    width: 100px;
    height: 95px;
  }
  .btn.bob-random {
    margin: 5px 30px 5px 30px;
    width: 100px;
    height: 95px;
  }
  .container {
    background-color: rgb(255, 218, 162);
    color: white;
    margin-top: 100px;
    padding: 0px 0px !important;
    width: 100%;
    height: 100%;
  }
  .container-random.container-fluid {
    padding: 0px 0px;
  }

  .tweet-card.container {
    margin: 0px 0px;
  }

  .tweet-date {
    color: grey;
    position: absolute;
    top: 32px;
    left: 55px;
  }
}
