body {
    background-color: rgb(255, 202, 123);
    
}
.color-nav {
    background-color: rgb(255, 164, 79);
}

.container {
    background-color:rgb(255, 218, 162);
    color: white;
    margin-top: 100px;
    padding: 0 20px;
    width: 100%;
    height: 100%;
} 

.container > .tweet-card {
    margin-top: 20px !important;
}


.card-row img {
    border-radius: 50% !important;
}
  
.twitter-logo {
 width: 180px;
 height: 180px;
opacity: 0.8;
}

.describe {
    color: black;
    opacity: 0.8;
}

.control-form {
    width: 90%;
}

.real-name {
    color: black;
}

.user-handle {
    color: grey;
}

.tweet-row {
  height: 100% !important;

}

.tweet-col {
    height: 100% !important;
    background-color: white !important;
}

.tweet-col.col img {
    border-radius: 50% !important;
}

.tweet-text {
    color: black;
    margin-left: 65px;
    top: 41px !important;
    left: 16px !important;
    position: absolute;
    padding-right: 50px;
    padding-bottom: 7px !important;
}

.tweet-col.retweet-image {
    position: absolute;
    margin-left: 65px;
    top: 200px;
    margin-right: 0px !important;
    padding: 10px 0;
}

.tweet-col.col.retweet-num {
    color: grey !important;
    position: absolute;
    margin: 0 0 0 100px;
    bottom: 10px;
}

.tweet-col.like-image {
    position: absolute;
    bottom: 8px;
    left: 230px;
    padding: 10px 0;
}


.tweet-col.col.like-num {
    color: grey;
    position: absolute;
    margin: 0 0 0 250px;
    bottom: 10px;
}



.favorite-name {
    color: black;
}

.btn-warning {
  background: rgb(255, 218, 149) !important;
  width: 250px;
  height: 75px;
  margin: 5px;
}

.button-two {
    background-color: white ;
    width: 250px;
    height: 75px;
    margin: 25px;
  }

.button-three {
    background-color: white ;
    width: 250px;
    height: 75px;
    margin: 25px;
  }

.button-four {
    background-color: white ;
    width: 250px;
    height: 75px;
    margin: 25px;
  }

  .button-five {
    background-color: white ;
    width: 250px;
    height: 75px;
    margin: 25px;
  }

div.col-4-4.col {
   width:300px !important;
    }
    
.favorite-name-random {       
     color: black;
    }

.real-random-one {
    position: absolute !important;
    left: 20px
}

.user-name-random {
    position: absolute;
    left: 124px;
    top: 47px;
    margin: 0 auto !important;
    color: grey;
    
}


.choose-text {
  color: black;

}

.column-four.col {
width: 290px !important;
}

@media screen and (max-width: 995px) {
    .card-row {
        display: block !important;
    }
}

@media screen and (max-width: 775px) {
   .topic-button {
       display: block !important;
     margin-left: 0 !important;
     margin-right: 0 !important;
     margin-top: 10px !important;
   }
   
}

@media screen and (max-width: 500px) {
   .tweet-row {
       height: 350px;
       width: 350px;
       margin: 10px;
   }
   .tweet-col {
       padding: 0;
   }
   .container {
       padding: 0;
   }
   .choose-text {
       font-size: 1.3rem;
       padding: 0 20px;
   }
}









